.clients__list {
    @extend %list;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    transition: fill 250ms $transition, background 250ms $transition;
    }

    .clients__link {
        display: flex;
        padding: 16px 32px;
    
        background: $address;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid $fill;
    
        transition: fill 250ms $transition, color 250ms $transition;

        &:focus, &:hover {
            border: 1px solid $accent-color;
            color: $accent-color;
            fill: $accent-color;
            }
        }

    .clients__icon {
        height: 60px;
        width: 106px;
        fill: $fill;

        transition: fill 250ms $transition;

        .clients__item:hover &, .clients__item:focus &{
            color: $accent-color;
            fill: $accent-color;
        } 
        .clients__link:hover &, .clients__link:focus &{
        fill: $accent-color;
        }
    }